{% extends 'base.html.twig' %}
{% block javascripts %}
{{ parent() }}
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialDate: '2018-03-10',
        initialView: 'dayGridMonth',
        nowIndicator: true,
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        },
        navLinks: true, // can click day/week names to navigate views
        dayMaxEvents: true, // allow "more" link when too many events
        events: {{ horarios|json_encode | raw}}
      });

      calendar.render();
  });

</script>
 </script>
{% endblock %}    
{% block title %}Hello CalendarioController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div id='calendar'></div>
</div>
{% endblock %}
